.service {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    color: #A1A2A3;
    line-height: 0.9rem;
    margin: 30px auto 83px;

    span {
        color: #6388dd;
    }
}