.error {
    color: red;
    margin-top: 12px;
    font-size: 0.78rem;
    margin-bottom: 15px;
}

.formBody {
    position: relative;
    min-height: 100vh;
    padding: 0 2.06rem 8.13rem 2.06rem;
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../assets/image/login/login-bg.png");
        background-size: 100% 100%;
        z-index: -1;
        background-position: top;
    }

    .logo {
        margin-top: 6.2rem;
        width: 3.74rem;
        height: 3.74rem;
    }

    .appName {
        display: flex;
        justify-content: flex-start;
        line-height: 1;
        margin-top: 1rem;
        font-family: ArialBold;
        font-size: 1.42rem;
        color: #333;
        line-height: 2.13rem;
    }
    .desc {
       margin: 0.77rem 0 3.4rem 0;
       line-height: 0.78rem;
       font-size: 0.78rem;
       color: rgba(0,0,0,0.45);
    }

}

.formArea {
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;

    .loginForm{
        padding: 0.5rem 0;
        .label {
            height: 12px;
            font-size: 0.78rem;
            font-family: ArialBold;
            line-height: 0.78rem;
            display: block;
            color: #737375;
        }

        .inputBox {
            position: relative;
            margin-bottom: 1.2rem;
        }

        .stepInput {
            border-bottom: 1px solid rgba(0,0,0,0.05);
            line-height: 40px;
            height: 40px;
            flex-grow: 1;
            width: 100%;
        }
        .tipsText {
            width: 100%;
            text-align: center;
            font-size: 0.9rem;
            color: #6086DC;
            font-family: ArialBold;
        }
    }
    .hint {
        text-align: center;
        font-size: 0.9rem;
        font-weight: 400;
        margin: 1.22rem 0 2rem 0;
        .noAccount {
            color: #000000;
            margin-right: 12px;
            font-family: ArialBold;
        }
        .registerBtn {
            color: var(--adm-color-primary);
        }
    }
    .contact {
        color: var(--adm-color-primary);
        font-size: 0.82rem;
        line-height: 1.35rem;
    }
    .service {
        opacity: 0.6;
        line-height: 1.2rem;
        font-size: 0.78rem;
    }
    .tele {
        opacity: 0.6;
        line-height: 1.2rem;
        font-size: 0.78rem;
    }
}
.btnGroup {
    margin-top: 40px;
    .btn {
        height: 38px;
        background: var(--adm-color-primary);
        border-radius: 8px;
        border: none;
    }
    .adm-button {
        width: 100%;
    }
}

.inputGroup {
    display: flex;
    align-items: center;
    position: relative;
}
