.container {
	position: relative;
	box-sizing: border-box;
	min-height: 100vh;
	padding: 44px 12px 65px 12px;
	background: #eceff7;
	.header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 44px;
		color: #000;
		font-weight: bold;
		font-size: 1rem;
		background: #fff;
	}
	.main {
		padding: 8px 0 65px 0;
		.baseWrapper {
			padding: 18px 8px;
			background: #fff;
			border-radius: 8px;
			.info {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.left {
					display: flex;
					.avatar {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 40px;
						height: 40px;
						margin-right: 14px;
						color: #fff;
						background: #f0a4e1;
						border: 1px solid #ffffff;
						border-radius: 50%;
					}
					.nameWrapper {
						.name {
							margin-bottom: 8px;
							color: #000000;
							font-size: 1.16rem;
							font-family: ArialBold;
						}
						.time {
							color: rgba(0, 0, 0, 0.25);
							font-weight: 400;
							font-size: 0.78rem;
						}
					}
				}
				.agentType {
					padding: 6px 8px;
					color: #8585f8;
					background: rgba($color: #8585f8, $alpha: 0.1);
					border-radius: 4px;
				}
			}
            .moneyWrapper {
                margin-top: 12px;
                padding: 8px;
                background: #F8F9FB;
                border-radius: 4px;
                .accountDes {
                    opacity: 0.6;
                }
                .getMoney {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .yue {
                        font-size: 1.16rem;
                        font-family: DinNumber;
						font-weight: bold;
                        color: #000000;
                    }
                    .operation {
                        background: #FFFFFF;
                        border-radius: 4px;
                        border: 1px solid var(--adm-color-primary);
                        font-size: 0.78rem;
                        font-family: ArialBold;
                        color: var(--adm-color-primary);
                        padding: 6px 12px;
                    }
                }
            }
		}
        .listItem {
            display: flex;
            padding: 14px 0 14px 12px;
            align-items: center;
            font-size: 0.9rem;
            font-weight: 400;
            color: rgba(0,0,0,0.88);
            .logo {
                width: 18px;
                height: 18px;
                margin-right: 8px;
            }
            background-image: url('../../assets/image/info/icon-more.png');
            background-size: 18px 20px;
            background-repeat: no-repeat;
            background-position: 98% center;
        }
        .tuiguangWrapper {
            background: #FFFFFF;
            border-radius: 8px;
            overflow: hidden;
            margin-top: 8px;
        }
		.logout {
			width: 100%;
			height: 2.8rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #FFFFFF;
			border-radius: 4px;
			font-size: 1.02rem;
			margin-top: 13px;
			color: #000;
		}
	}
}
